<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">“It takes 20 years to build a reputation and only 5 minutes to ruin it”</h2>
                </br>
                <h3 class="section-heading" style="text-align: center">Warren Buffet </h3>
                <hr class="light">
                <p class="text-faded">Branddity has developed a world-leading platform to ensure your digital presence is aligned to your expectations aggregating information from multiple sources and score your online presence. </p>
                <a href="#" class="btn btn-default btn-xl">See our solution!</a>
            </div>
        </div>
    </div>
</section>
