<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Your life is impacted by information about you online</h1>
            <hr>
            <p>Get started</p>
            <div class="form-group" style="text-align: center">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter fullname"> &nbsp &nbsp &nbsp
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Check your score</a>
            </div>
            
        </div>
    </div>
</header>
