<section class="bg-primary" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Branddity will calculate your online-presence reputational score, provide an in-depth report to assess and mitigate your risks.</h2>
                <hr class="light">
                <p class="text-faded">--</p>
                <a href="#" class="btn btn-default btn-xl">Let’s get in touch</a>
            </div>
        </div>
    </div>
</section>
