<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="section-heading">Why choose Branddity?</h1>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-search wow bounceIn text-primary"></i>
                    <h3>Improve your google result and</h3>
                    <p class="text-muted"></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-shield wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Protect your privacy </h3>
                    <p class="text-muted"></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fas fa-file wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Build up your personal brand </h3>
                    <p class="text-muted"></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-umbrella wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Mitigate the risk from defamation</h3>
                    <p class="text-muted"></p>
                </div>
            </div>
        </div>
    </div>
</section>
